@import "flow-handles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.react-flow__node {
    z-index: -1 !important;
}
*/

:root{
    --node-padding: 1.75rem;
    --kd-green: #96DE83;
    --kd-blue: #1267db;
    --kd-cyan: #4ABCDE;
    --kd-purple: #B09DE0;
    --kd-orange: #F2B12E;
    --kd-pink: #F04DB9;


}

.addButton
{
    background:transparent;

}



.component-selected {
    @apply relative;
}
.component-selected::after {
    content: ' ';
    @apply border-primary border border-dashed w-full h-full absolute left-0 top-0 pointer-events-none block;
}

.transition {
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}


.addButton:hover
{
    background: var(--kd-orange);
    cursor: copy;
    color:white;
}

.sortableItem
{
    background: #1267DB99;
    color:white;
/*    border-radius: 0.5rem;
    margin: 0.5rem;*/
    cursor: pointer;
}

.r-select input:focus{

    --tw-ring-shadow: none;
    border: none !important;

}



/* The visible white control that wraps the delete button. Keep it tiny and interactive. */

body
{
    margin-bottom: 0 !important;
}

h2
{
    font-size: 1.5rem;
    font-weight: 600;
}

.react-flow__edge .react-flow__edge-path {
    stroke: white;
    stroke-width: 2px;
    fill: none;
}
.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge.selectable:focus .react-flow__edge-path,
.react-flow__edge.selectable:focus-visible.react-flow__edge-path {
    stroke: white !important;
    stroke-width: 2px;
    stroke-dasharray: 2px;
    stroke-dashoffset: 3px;
    animation: dash_draw .5s linear infinite;
    fill: none;
}

@keyframes dash_draw {
    0% {
        stroke-dashoffset: 10
    }
}


.flow_top_menu
{
    display:none;
}

.component-selected > div >  .flow_top_menu
{
    display:flex;
    position: absolute;
    z-index: 4;
}


.component-selected > div >  .flow_top_menu li
{
    background:white;
}


.component-selected > div >  .flow_top_menu li button{
    display: flex;
    padding: 0 15px;
    border: 1px solid var(--kd-green);
    background:#96DE8322;
    align-items: center;
    justify-content: center;
    min-width:15px;
}

.component-selected > div > .flow_top_menu li button.active_step
{
    background: var(--kd-green);
    color:white;
}













.handle_icon svg {
    display: block;
}
