@media (prefers-color-scheme: dark) {

    .node_output_handle .react-flow__handle {
        background-color: transparent;
        border:3px solid white !important;
        height:0.6rem;
        width:0.6rem;
        border-radius: 50rem;

    }

    .node_output_handle .react-flow__handle.valid {
        background-color: white;
        clip-path: polygon(0% 0%, 0% 100%, 0 100%, 100% 50%);

    }


    .node_output_handle .react-flow__handle.connected {
        background-color: white;


    }
}
